services:
  redis:
    image: redis:alpine

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis

  producer:
    build: .
    command: python producer.py
    depends_on:
      - redis